@echo off
{%- for cpu in cpus %}
{% for n_core in range(cpu.cores) %}
reg add "HKLM\HARDWARE\DESCRIPTION\System\CentralProcessor\{{n_core}}" /f /v ProcessorNameString /t REG_SZ /d "{{cpu.name}}"
{% endfor %}
{%- endfor %}

reg add "HKLM\HARDWARE\DESCRIPTION\System" /f /v SystemBiosVersion /t REG_SZ /d "{{bios.version}}"
reg add "HKLM\HARDWARE\DESCRIPTION\System\BIOS" /f /v BIOSVendor /t REG_SZ /d "{{bios.manufacturer}}"
reg add "HKLM\HARDWARE\DESCRIPTION\System\BIOS" /f /v BIOSVersion /t REG_SZ /d "{bios.version} {{bios.name}}"
reg add "HKLM\HARDWARE\DESCRIPTION\System\BIOS" /f /v BIOSMajorRelease /t REG_DWORD /d {{bios.system_bios_major_version}}
reg add "HKLM\HARDWARE\DESCRIPTION\System\BIOS" /f /v BIOSMinorRelease /t REG_SZ /d {{bios.system_bios_minor_version}}

reg add "HKLM\HARDWARE\DESCRIPTION\System\BIOS" /f /v SystemManufacturer /t REG_SZ /d "ASUS"
reg add "HKLM\HARDWARE\DESCRIPTION\System\BIOS" /f /v SystemFamily /t REG_SZ /d "ASUS MB"
reg add "HKLM\HARDWARE\DESCRIPTION\System\BIOS" /f /v SystemProductName /t REG_SZ /d "All Series"
reg add "HKLM\HARDWARE\DESCRIPTION\System\BIOS" /f /v SystemSKU /t REG_SZ /d "All"
reg add "HKLM\HARDWARE\DESCRIPTION\System\BIOS" /f /v SystemVersion /t REG_SZ /d "System Version"

reg add "HKLM\HARDWARE\DESCRIPTION\System\BIOS" /f /v BaseBoardManufacturer /t REG_SZ /d "ASUSTEK COMPUTER INC."
reg add "HKLM\HARDWARE\DESCRIPTION\System\BIOS" /f /v BaseBoardProduct /t REG_SZ /d "TRX40"
reg add "HKLM\HARDWARE\DESCRIPTION\System\BIOS" /f /v BaseBoardVersion /t REG_SZ /d "Rev 1.2"

reg add "HKLM\SOFTWARE\Microsoft\Windows\CurrentVersion\Run" /f /v UsbDriver /t REG_SZ /d "C:\ini\deception.bat"